.manga-card {
  height: 12em;
  width: 22em;
  border-radius: 8px;
  display: flex;

  &--image {
    user-select: none;
    user-focus: none;
    flex: none;

    img {
      height: 13em;
      top: -0.6em;
      width: 9em;
      position: relative;
      border-radius: 8px;
    }
  }

  &--info {
    overflow: hidden;
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;

    &--title {
      font-size: 1.3em;
      line-height: 1.2em;
      font-weight: bolder;
      // show ellipsis if text is over 2 lines
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 16px 8px auto;
    }

    &--last-chapter {
      direction: rtl;
      margin-bottom: 0.5em;

      &--badge {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        padding: 0.1em 1em;
        height: 2.2em!important;
        min-height: 2em!important;
      }
    }


    &--rate {

      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.3em;
      height: 40px;

      &--rating {
        z-index: 1;
        --tw-bg-opacity: 1;
        background-color: hsl(var(--b1) / var(--tw-bg-opacity));
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -1.4em;
          width: 100%;
          height: 100%;
          --tw-bg-opacity: 1;
          background-color: hsl(var(--b1) / var(--tw-bg-opacity));
          border-radius: 8px;
        }
      }

      &--flag {
        margin-left: 9px;
        width: 50px;

        img{
          height: 35px;
          border-radius: 2px;
          width: 80px;
        }
      }
    }
  }


}
